
<html>
    <head>
        <title>
            Movie Data base
        </title>
        <style>
        #main{
            width: 30%;
            margin:0 auto;
            background: steelblue;
        }
        div{
            border:5px solid gainsboro;
            text-align: center;
        }
        </style>
    </head>
    <body>
        <div id="main">
            <div>
                <h1><%=newVal.Title%></h1>
            </div>

            <div>
                <p><%=newVal.Genre%></p>
            </div>

            <div>
                <p><%=newVal.Actors%></p>
            </div>

            <div>
                <p><%=newVal.Plot%></p>
            </div>

            <div>
                <p><%=newVal.imdbRating%></p>
            </div>

            

            

        </div>
    </body>
</html>
